<h1>List all Movies</h1>

<%# each with index allows us to pass the index later %>
<% @movies.each_with_index do |movie, index| %>
    <li><%= movie[":title"]%> - <%= movie[":rating"] %>
    <%= link_to "show", movie_path(index)%> 
    <%= link_to "edit", edit_movie_path(index)%>
    <%= link_to "delete", movie_path(index), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
<%end%>

