<%if @name.blank?%>
    <%=render "shared/back"%>
<%else%>
    <div class = create_page>
        <img class=bg src="/assets/create.jpg" alt="Hey Dumbass, you put the pic in the wrong place!">
        <h1 class=name><%= params["pokemon_name"].capitalize %></h1>
        <div class=container>
            <div class=box>
                <h2>Default pokemon</h2>
                <img src="<%=@sprite_img%>">
            </div>
            <%if @sprite_img2%>
                <div class=box>
                    <h2>Shiny pokemon</h2>
                    <img src="<%=@sprite_img2%>">
                </div>
            <%end%>
            <%if @sprite_img3%>
                <div class=box>
                    <h2>Female pokemon</h2>
                    <img src="<%=@sprite_img3%>">
                </div>
            <%end%>
            <div class=box>
                <h2>Type of Pokemon:</h2>
                <h3><%=@type%></h3>
                <h3><%=@type2%></h3>
            </div>
        </div>
        <h3 class=back><%= link_to "Back", :back %></h3>      
    </div>
<%end%>